@font-face {
    font-family: "Sanek";
    src: url("../fonts/sanekRegular/Sanek-Regular_Cyrillic.otf") format("openType");
   }
@font-face {
    font-family: "Bebas";
    src: url("../fonts/bebasNeue/BebasNeueBold.otf") format("openType");
    font-weight: bold;
   }
@font-face {
    font-family: "Bebas";
    src: url("../fonts/bebasNeue/BebasNeueRegular.otf") format("openType");
    font-weight: normal;
   }