footer{
    position: relative;
    z-index: 0;
    height: 20vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .footerNav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        
        .footerMenuSocialLang{
            flex-grow: 0.10;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .footerSocialLang{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            
            .footerMenu{
                padding: 0;
                width: 100%;
                list-style: none;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                
                .footerMenuElement{
                    font-family: 'Bebas', sans-serif;
                    font-weight: bold;
                    font-size: 350%;
                    display: block;
                    text-transform: uppercase;
                }
            }
        
            .footerMenuElement:hover{
                color: #F8CC08;
                text-shadow: black 0 0 4px;
            }
        
            .socialElement{
                width: 1.3vw;
                height: auto;
                padding-right: 0.5vw;
            }
            
            .lang{
                min-width: 3vw;
                height: auto;
                background: rgba(255,255,255,0.5) 50% 50% no-repeat;
                
                .langFlag{
                    width: 1.5vw;
                    height: auto;
                    padding: 0.2vw;
                }
            }
        }
        .logoContainer{
            padding-right: 50px;
                                                    
            .logo{
                width: 10vw;
                height: auto;
            }
        }
                                                
    }

    .footerCopyright{
        font-family: sans-serif;
        font-size: 170%;
        color: #CBCBCB;
        
        &::before{
            content: '\A9';
        }
    }

}