body{  
    background: url("../img/svg/bodyBgMainOneScreen.svg") no-repeat;
    background-size: cover; 
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 13px;
}

main{
    position: relative;
    height: 80%;
    // height: 80vh;
    width: 100vw;
    background-size: cover;
}

.hide{
    display:none !important;
}