@media (min-width: 320px){
    body{
        font-size: 2px;
    }   
    .mineContainer .woodTab .username{
        
        top:3.5vw;
    }
    .mineContainer .woodTab .signUp{
        left: 4vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
    .visible{
        display: none;
    }
    .mineContainer{
        left: 25vw;
    }
}
@media (min-width: 500px){
    body{
        font-size: 3px;
    }
    .mineContainer .woodTab .signUp{
        left: 3vw;
    }
    .mineContainer .woodTab .username{
        top:3.7vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
    .visible{
        display: block;
    }
    .mineContainer{
        left: 45vw;
    }
}
@media (min-width: 720px){
    body{
        font-size: 4px;
    }
    .mineContainer .woodTab .username{
        top:3.6vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 860px){
    body{
        font-size: 5px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1024px){
    body{
        font-size: 6px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1200px){
    body{
        font-size: 7px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1370px){
    body{
        font-size: 8px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1700px){
    body{
        font-size: 10px;
    }
    .mineContainer .woodTab .username{
        top:3.5vw;
    }
    .mineContainer .signIn{
        bottom: 8.5vw;
    }
}
@media (min-width: 1900px){
    body{
        font-size: 11px;
    }
    .mineContainer .woodTab .username{
        top:3vw;
    }
    .mineContainer .signIn{
        bottom: 8.5vw;
    }
}

@media (min-width: 2250px) {
    body{
        font-size: 12px;
    }
    .mineContainer .woodTab .username{
        top:3.5vw;
    }
    .mineContainer .signIn{
        bottom: 8.5vw;
    }
}
@media (min-width: 2250px) {
    body{
        font-size: 13px;
    }
    .mineContainer .woodTab .username{
        top:4vw;
    }
    .mineContainer .signIn{
        bottom: 8vw;
    }
}