@media (min-width: 260px){
    body{
        font-size: 3px;
    }
    main{
        height: 80%;
    }
    footer{
        height: 20%;
    }
    
    .woodDesk{
        width: 50vw;
    }

    .woodDesk .siteHead{
        top: 7vw;
        left: 6vw;
        font-size: 590%;
    }
    .woodDesk .videoHead{
        top: 20.5vw;
        left: 7.5vw;
        width: 28vw;
        height: 16.5vw;  
    }
    .mobileStatsDesk{
        display: block;
        position: relative;
        top:0;
        right:0;
    }
    .statsPlateContainer{
        top:0;
        right:0;
    }
    .statsPlateContainer .statsPlate{
        display: none;
    }

    .statsPlateContainer .stats {
        top: 4.5vw;
        left: 18vw;
    }

    .statsPlateContainer .stats .titleRow{
        font-size:400%;
    }
    .statsPlateContainer .stats .statsRow{
        font-size:420%;
    }

    .mineContainer .loginForm {
        top: 49vw;
        left: 56vw;
    }
    .mineContainer{
        left: -13vw;
    }
    
    .mineContainer .mine{   
        width:123vw;
        // height: 80vh;
    }

    .mineContainer .woodTab .username{
        top: 20vw;
        left: 33vw;
    }

    .mineContainer .woodTab .username .diamond{
        width: 36vw;
    }

    .mineContainer .woodTab .signUp{
        top: 8vw;
        left: 37vw;
        font-size: 826%; 
    }
    .mineContainer .signIn{
        bottom: 24.5vw;
        left: 4vw;
        font-size: 826%; 
    }
    
    .visible{
        display: none;
    }

    .mineContainer .loginForm input:not([type=checkbox]):not([type=submit]) {
        width: 15vw;
        font-size: 310%;
    }

    .mineContainer .loginForm .rememberMe,
    .mineContainer .loginForm .forgotPass {
        font-size: 262%;
        letter-spacing: 0.6px;
    }
    .mineContainer .custom-checkbox + label::before {
        width: 2vw;
        height: 2vw;
    }

    footer {
        font-size: 145%;
    }
    footer .footerNav {
        width: 85%;
        justify-content: space-between;
    }
    footer .footerNav .logoContainer {
        padding-right: 20px;
    }
    footer .footerNav .logoContainer .logo {
        width: 20vw;
    }
    footer .footerNav .footerMenuSocialLang {
        flex-grow: 1;
    }
    footer .footerNav .footerMenuSocialLang .socialElement {
        width: 3vw;
    }
    footer .footerNav .footerMenuSocialLang .lang .langFlag {
        width: 3vw;
        padding: 1vw;
    }


}

@media (min-width: 350px){
    body{
        font-size: 4px;
    }

    footer {
        font-size: 125%;
    }

}
@media (min-width: 450px){
    body{
        font-size: 3px;
        height: 100vh;
    }
    .woodDesk{
        width: 25vw;
    }
    .woodDesk .videoHead{
        top: 10vw;  
        left:4vw;

        width: 14vw;
        height: 8.5vw;
    }

    
    .statsPlateContainer .stats .titleRow{
        font-size:250%;
    }
    .statsPlateContainer .stats .statsRow{
        font-size:350%;
    }

    .mobileStatsDesk{
        display: none;
    }

    .woodDesk .siteHead{
        top: 4vw;
        left: 3.5vw;
        font-size: 500%;
    }
    .statsPlateContainer .statsPlate{
        display: block;
    }

    .statsPlateContainer .stats {
        top: 1vw;
        left: 2.5vw;
    }
    .mineContainer .loginForm {
        top: 18vw;
        left: 21vw;    
    }
    .mineContainer .mine{   
        width:45vw;
        height: auto;
    }
    .mineContainer .woodTab .signUp{
        top: -0.5vw;
        left: 3vw;
        font-size: 650%; 
    }
    .mineContainer .woodTab .username{
        top:3.7vw;
        left: 1vw;
    }
    .mineContainer .woodTab .username .diamond{
        width: 15vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
        left: 1vw;
        font-size: 650%;
    }
    .visible{
        display: block;
    }
    .mineContainer{
        left: 45vw;
    }
    .statsPlateContainer{
        top:auto;
        bottom: 3vw;
        right: 5vw;
    }
    .mineContainer .loginForm input:not([type=checkbox]):not([type=submit]) {
        width: 6vw;
        font-size: 220%;
    }
    .mineContainer .loginForm .rememberMe,
    .mineContainer .loginForm .forgotPass {
        font-size: 130%;
    }
   .mineContainer .custom-checkbox + label::before {
    width: 1vw;
    height: 1vw;
    }

    footer {
        font-size: 100%;
    }
    footer .footerNav {
        width: 100%;
        justify-content: center;
    }
    footer .footerNav .logoContainer {
        padding-right: 50px;
    }
    footer .footerNav .logoContainer .logo {
        width: 10vw;
    }
    footer .footerNav .footerMenuSocialLang {
        flex-grow: 0.1;
    }
    footer .footerNav .footerMenuSocialLang .socialElement {
        width: 1.3vw;
    }
    footer .footerNav .footerMenuSocialLang .lang .langFlag {
        width: 1.5vw;
        padding: 0.2vw;
    }
}
@media (min-width: 720px){
    body{
        font-size: 4px;
    }
    .mineContainer .woodTab .username{
        top:3.6vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 860px){
    body{
        font-size: 5px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1024px){
    body{
        font-size: 6px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1200px){
    body{
        font-size: 7px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1370px){
    body{
        font-size: 8px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1700px){
    body{
        font-size: 10px;
    }
    .mineContainer .woodTab .username{
        top:3.5vw;
    }
    .mineContainer .signIn{
        bottom: 8.5vw;
    }
}
@media (min-width: 1900px){
    body{
        font-size: 11px;
    }
    .mineContainer .woodTab .username{
        top:3vw;
    }
    .mineContainer .signIn{
        bottom: 8.5vw;
    }
}

@media (min-width: 2250px) {
    body{
        font-size: 12px;
    }
    .mineContainer .woodTab .username{
        top:3.5vw;
    }
    .mineContainer .signIn{
        bottom: 8.5vw;
    }
}
@media (min-width: 2250px) {
    body{
        font-size: 13px;
    }
    .mineContainer .woodTab .username{
        top:4vw;
    }
    .mineContainer .signIn{
        bottom: 8vw;
    }
}