@media (min-width: 320px){
    body{
        font-size: 4px;
        height: 560px;
    }
    main{
        height: 80%;
    }
    footer{
        height: 20%;
    }
    
    .woodDesk{
        width: 40vw;
    }

    .woodDesk .siteHead{
        top: 6vw;
        left: 5vw;
    }
    .woodDesk .videoHead{
        top: 15.5vw;
        left:5vw;
        width: 24vw;
        height: 13.5vw;  
    }
    .mobileStatsDesk{
        display: block;
    }
    .statsPlateContainer .statsPlate{
        display: none;
    }

    .statsPlateContainer .stats {
        top: 1vw;
        left: 2.5vw;
    }
    .mineContainer{
        left: 0vw;
    }
    
    .mineContainer .mine{   
        width:90vw;
    }

    .mineContainer .woodTab .username{
        top: 12vw;
        left: 20vw;
    }

    .mineContainer .woodTab .username .diamond{
        width: 27vw;
    }

    .mineContainer .woodTab .signUp{
        top: 4.5vw;
        left: 23vw;
    }
    .mineContainer .signIn{
        bottom: -3vw;
        left: 23vw;
    }
    .visible{
        display: none;
    }
}
@media (min-width: 450px){
    body{
        font-size: 3px;
        height: 100vh;
    }
    .woodDesk{
        width: 25vw;
    }
    .woodDesk .videoHead{
        top: 10vw;  
        left:4vw;

        width: 14vw;
        height: 8.5vw;
    }

    .mobileStatsDesk{
        display: none;
    }

    .woodDesk .siteHead{
        top: 4vw;
    }
    .statsPlateContainer .statsPlate{
        display: block;
    }

    .statsPlateContainer .stats {
        top: 1vw;
        left: 2.5vw;
    }
    .mineContainer .mine{   
        width:45vw;
    }
    .mineContainer .woodTab .signUp{
        top: -0.5vw;
        left: 3vw;
    }
    .mineContainer .woodTab .username{
        top:3.7vw;
        left: 1vw;
    }
    .mineContainer .woodTab .username .diamond{
        width: 15vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
        left: 1vw;
    }
    .visible{
        display: block;
    }
    .mineContainer{
        left: 45vw;
    }
}
@media (min-width: 720px){
    body{
        font-size: 4px;
    }
    .mineContainer .woodTab .username{
        top:3.6vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 860px){
    body{
        font-size: 5px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1024px){
    body{
        font-size: 6px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1200px){
    body{
        font-size: 7px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1370px){
    body{
        font-size: 8px;
    }
    .mineContainer .woodTab .username{
        top:3.3vw;
    }
    .mineContainer .signIn{
        bottom: 9vw;
    }
}
@media (min-width: 1700px){
    body{
        font-size: 10px;
    }
    .mineContainer .woodTab .username{
        top:3.5vw;
    }
    .mineContainer .signIn{
        bottom: 8.5vw;
    }
}
@media (min-width: 1900px){
    body{
        font-size: 11px;
    }
    .mineContainer .woodTab .username{
        top:3vw;
    }
    .mineContainer .signIn{
        bottom: 8.5vw;
    }
}

@media (min-width: 2250px) {
    body{
        font-size: 12px;
    }
    .mineContainer .woodTab .username{
        top:3.5vw;
    }
    .mineContainer .signIn{
        bottom: 8.5vw;
    }
}
@media (min-width: 2250px) {
    body{
        font-size: 13px;
    }
    .mineContainer .woodTab .username{
        top:4vw;
    }
    .mineContainer .signIn{
        bottom: 8vw;
    }
}