.mineContainer{
    position: absolute;
    bottom: 0vw;
    left: 45vw;
    
    .mine{
        width: 45vw;
        height: auto;
    }
    
    .woodTab{
        // border:1px solid red;
        position: absolute;
        top: 5.5vw;
        left: 15.5vw;
        
        .signUp{
            margin: 0;
            position: absolute;
            top: -0.5vw;
            left: 3vw;
            z-index: 10;
            font-family: 'Sanek';
            font-size: 650%;
            text-transform: uppercase;
            cursor: pointer;

        }
        
        
        .username{
            margin: 0;
            padding: 0;
            position: absolute;
            top: 3.0vw;
            left: 1vw;
            z-index: 10;
            font-family: 'Sanek';
            font-size: 850%;
            text-transform: uppercase;
            
            .diamond{
                width: 15vw;
                height: auto;
            }
        }
    }


    .loginForm{
        position: absolute;
        top: 18vw;
        left: 21vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        input:not([type="checkbox"]):not([type="submit"]){
            font-size: 220%;
            text-align: center;
            width: 6vw; 
            margin-bottom: 0.5vw;
            background-color: #F8CC08;
            border: 1px solid #ffffff;
            border-radius: 2px;
            outline: none;
            
        }
        
        .rememberMe, 
        .forgotPass{
            font-size: 130%;
            color: #ffffff;
            font-family: 'Bebas', sans-serif;
            font-weight: bold;
            cursor: pointer;
            margin-top: 6px;
            line-height: 100%;
        }
    }

    .signUp:hover,
    .signIn:hover {
        color: #F8CC08;
        text-shadow: black 0 0 4px;
    }
    .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
        
        &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }
        
        &+label::before {
            content: '';
            display: inline-block;
            width: 1vw;
            height: 1vw;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #ffffff;
            border-radius: 3px;
            margin-right: 4px;
            background-color: #F8CC08;
        }
        
        &:checked+label::before {
            background-image: url("../img/svg/x.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 45% 50%;
        }

    }  
    .signIn{
        position: absolute;
        bottom: 9vw;
        left: 1vw;
        z-index: 10;
        font-family: 'Sanek';
        font-size: 650%;
        text-transform: uppercase;
        background-color: rgba(255,255,255,0);
        outline: none; 
        border: none;
        cursor: pointer;
    }

    .signUp:hover,
    .signIn:hover {
        color: #F8CC08;
        text-shadow: black 0 0 4px;
    }
}