.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

    font-family: 'Bebas', sans-serif;
    font-weight: bold;

    
    .popup{
        position: relative;
        height: auto;
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
        z-index: 110;
        
        .cancel{
            position: absolute;
            top: 4vw;
            right:  5vw;
            z-index: 110;
            width: 1.5vw;
            height: 1.5vw;            
            background: url("../img/svg/x.svg") no-repeat; 
            background-size: contain;
        }
        .closeModalSignUp{
            top: 7.5vw;
            right: 3vw;
            width: 1vw;
            height: 1vw;
        }

        .popupContainer{
            position: absolute;
            top: 8vw;
            left: 3vw;
            width: 85%;
            height: 75%;
            z-index: 120;

            .popupSignUp{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 100%;
                
                .popupSignUpImg{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    .signUpTrolley{
                        width: 15vw;
                        height: auto;
                    }
                }
                .popupSignUpForm{
                    font-size: 200%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .formTitle{
                        padding: 0;
                        margin: 0;
                        width: 10vw;
                        text-align: center;
                        font-size: 150%;
                        color: #400800;
                    }

                    .signUpFormInput{
                        border: none;
                        border-bottom: 2px solid #400800;
                        outline: none;
                        background-color: rgba(0,0,0,0);

                        &::placeholder{
                            text-align: center;
                            color: #400800;
                        }
                    }
                    
                    .signUpSubmit{
                        border: none;
                        border-bottom: 4px solid #400800;
                        border-top: 4px solid #400800;
                        outline: none;
                        background-color: rgba(0,0,0,0);
                        font-weight: bold;
                        color: #400800;
                    }


                    .rulesCheckbox {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                        
                        &+label {
                            display: inline-flex;
                            align-items: center;
                            user-select: none;
                            width: 100%;
                            transition: all .3s ;

                            a,
                            a:hover,
                            a:link,
                            a:visited {
                                text-decoration: none;
                                color: #FAB523;
                                text-shadow: black 0 0 4px; 
                            }
                        }
                        
                        &+label::after {
                            content: '';
                            display: inline-block;
                            width: 1.5vw;
                            height: 2.5vw;
                            flex-shrink: 0;
                            flex-grow: 0;
                            // border: 1px solid #ffffff;
                            // border-radius: 3px;
                            margin-left: 7px;
                            background: url("../img/svg/rulesOff.svg") 50% no-repeat;
                        }
                        
                        &:checked+label::after {
                            background-image: url("../img/svg/x.svg");
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 45% 50%;
                            background: url("../img/svg/rulesOn.svg") 50% no-repeat;
                        }
                
                    }

                    
                }
            }
        }
    }

    .modalSignUp{
        width: 40vw;
        top: 5vw;
    }
    
}

.modalActive{
    display: block;
}