.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Bebas', sans-serif;
  font-weight: bold;
}

.modal .popup {
  position: relative;
  height: auto;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  z-index: 110;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modal .popup .cancel {
  position: absolute;
  top: 4vw;
  right: 5vw;
  z-index: 150;
  width: 1.5vw;
  height: 1.5vw;
  background: url("../img/svg/x.svg") no-repeat;
  background-size: contain;
}

.modal .popup .closeModalSignUp {
  top: 7.5vw;
  right: 3vw;
  width: 1vw;
  height: 1vw;
}

.modal .popup .popupContainer {
  position: absolute;
  top: 8vw;
  left: 3vw;
  width: 85%;
  height: 75%;
  z-index: 120;
}

.modal .popup .popupContainer .popupSignUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpImg {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpImg .signUpTrolley {
  width: 15vw;
  height: auto;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm {
  font-size: 200%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .formTitle {
  padding: 0;
  margin: 0;
  width: 10vw;
  text-align: center;
  font-size: 150%;
  color: #400800;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .signUpFormInput {
  border: none;
  border-bottom: 2px solid #400800;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .signUpFormInput::-webkit-input-placeholder {
  text-align: center;
  color: #400800;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .signUpFormInput:-ms-input-placeholder {
  text-align: center;
  color: #400800;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .signUpFormInput::-ms-input-placeholder {
  text-align: center;
  color: #400800;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .signUpFormInput::placeholder {
  text-align: center;
  color: #400800;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .signUpSubmit {
  border: none;
  border-bottom: 4px solid #400800;
  border-top: 4px solid #400800;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #400800;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .rulesCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .rulesCheckbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .rulesCheckbox + label a,
.modal .popup .popupContainer .popupSignUp .popupSignUpForm .rulesCheckbox + label a:hover,
.modal .popup .popupContainer .popupSignUp .popupSignUpForm .rulesCheckbox + label a:link,
.modal .popup .popupContainer .popupSignUp .popupSignUpForm .rulesCheckbox + label a:visited {
  text-decoration: none;
  color: #FAB523;
  text-shadow: black 0 0 4px;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .rulesCheckbox + label::after {
  content: '';
  display: inline-block;
  width: 1.5vw;
  height: 2.5vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-left: 7px;
  background: url("../img/svg/rulesOff.svg") 50% no-repeat;
}

.modal .popup .popupContainer .popupSignUp .popupSignUpForm .rulesCheckbox:checked + label::after {
  background-image: url("../img/svg/x.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 45% 50%;
  background: url("../img/svg/rulesOn.svg") 50% no-repeat;
}

.modal .popup .popupNews,
.modal .popup .popupAboutUs,
.modal .popup .popupContacts,
.modal .popup .popupHelp {
  width: 90%;
  height: 100%;
  position: absolute;
  bottom: 1vw;
  left: 5.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .popup .popupNews .popupTitle,
.modal .popup .popupAboutUs .popupTitle,
.modal .popup .popupContacts .popupTitle,
.modal .popup .popupHelp .popupTitle {
  -webkit-box-flex: 0.01;
      -ms-flex-positive: 0.01;
          flex-grow: 0.01;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bebas";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 500%;
  color: #400800;
}

.modal .popup .popupNews .popupContent,
.modal .popup .popupAboutUs .popupContent,
.modal .popup .popupContacts .popupContent,
.modal .popup .popupHelp .popupContent {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Bebas";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 250%;
  color: #400800;
}

.modal .popup .popupNews .popupContent::-webkit-scrollbar,
.modal .popup .popupAboutUs .popupContent::-webkit-scrollbar,
.modal .popup .popupContacts .popupContent::-webkit-scrollbar,
.modal .popup .popupHelp .popupContent::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.modal .popup .forgotPassContainer {
  position: absolute;
  top: 1vw;
  left: 1vw;
  width: 95%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .popup .forgotPassContainer .title {
  -webkit-box-flex: 0.01;
      -ms-flex-positive: 0.01;
          flex-grow: 0.01;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bebas";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 300%;
  line-height: 0;
  color: #400800;
}

.modal .popup .forgotPassContainer .emailInput {
  border: none;
  border-bottom: 2px solid #400800;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 300%;
}

.modal .popup .forgotPassContainer .emailInput::-webkit-input-placeholder {
  text-align: center;
  color: #400800;
}

.modal .popup .forgotPassContainer .emailInput:-ms-input-placeholder {
  text-align: center;
  color: #400800;
}

.modal .popup .forgotPassContainer .emailInput::-ms-input-placeholder {
  text-align: center;
  color: #400800;
}

.modal .popup .forgotPassContainer .emailInput::placeholder {
  text-align: center;
  color: #400800;
}

.modal .popup .forgotPassContainer .submitInput {
  border: none;
  border-bottom: 4px solid #400800;
  border-top: 4px solid #400800;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #400800;
  font-size: 300%;
}

.modal .modalSignUp {
  width: 40vw;
  top: 5vw;
}

.modalActive {
  display: block;
}
/*# sourceMappingURL=modal.css.map */