.visible{
    display: block;
}
.news{
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    z-index: 10;
    font-size: 450%;
    
    & .stone{  
        height: auto;
        width: 12vw;
        
    }
    
    & .stoneTitle{
        margin: 0;
        position: absolute;
        top: 3vw;
        left: 3vw;
        cursor: pointer;
    }
    &:hover{
        .stone{ 
            width: 13vw;
            }
        .stoneTitle {
            color: #F8CC08;
            text-shadow: black 0 0 4px;
            top:3vw;
            left:3.5vw;
        }
    }
}

.aboutUs{
    position: absolute;
    bottom: 3vw;
    left: 18vw;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    z-index: 10;
    font-size: 450%;
    
    & .stone{  
        height: auto;
        width: 9vw;
        
    }
    
    & .stoneTitle{
        margin: 0;
        position: absolute;
        top: 2vw;
        left: 2vw;
        cursor: pointer;
    }
    &:hover{
        .stone{ 
            width: 10vw;
            }
        .stoneTitle {
            color: #F8CC08;
            text-shadow: black 0 0 4px;
            top:3vw;
            left:2.5vw;
        }
    }
}

.contacts{
    position: absolute;
    bottom: 3vw;
    left: 28vw;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    z-index: 10;
    font-size: 350%;
    
    & .stone{  
        height: auto;
        width: 10vw;
    }
    
    & .stoneTitle{
        margin: 0;
        position: absolute;
        top: 3vw;
        left: 1.5vw;
        cursor: pointer;
    }

    &:hover{
        .stone{ 
            width: 11vw;
            }
        .stoneTitle {
            color: #F8CC08;
            text-shadow: black 0 0 4px;
            top:3.5vw;
            left:2.5vw;
        }
    }
}

.help{
    position: absolute;
    bottom: 3vw;
    left: 37vw;
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    z-index: 10;
    font-size: 300%;
    
    .stone{  
        height: auto;
        width: 6.5vw;
    }
    
    .stoneTitle{
        margin: 0;
        position: absolute;
        top: 1.6vw;
        left: 0.6vw;
        cursor: pointer;

    }
    &:hover{
        .stone{ 
            width: 7.5vw;
            }
        .stoneTitle {
            color: #F8CC08;
            text-shadow: black 0 0 4px;
            top:2.5vw;
            left:1.3vw;
        }
    }
}
