.woodDesk{
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: auto;
    
    .siteHead{
        margin:0;
        position: absolute;
        top: 4vw;
        left: 4vw;
        font-family: 'Sanek';
        font-size: 500%;
        text-transform: uppercase;
    }
    .videoHead{
        position: absolute;
        top: 10vw;
        left: 3.9vw;
        z-index: 30;
        border: 1px solid black;
        width: 14vw;
        height: 8.5vw;
    }
}
.mobileStatsDesk{
    position: absolute;
    top:0;
    right:0;
    .mobileStats{
        width: 38vw;
        height: auto;

    }

}