
@font-face {
    font-family: "Sanek";
    src: url("fonts/sanekRegular/Sanek-Regular_Cyrillic.otf") format("openType");
   }
@font-face {
    font-family: "Bebas";
    src: url("fonts/bebasNeue/BebasNeueBold.otf") format("openType");
   }
body{   
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: 10px;
    /* height: 1440px;
    width: 1920px; */
}
.modal {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modalActive{
    display: block;
}
.popup{
    position: relative;
    /* width: 1526px;
    height: 887px; */
    height: auto;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    z-index: 40;
}
.cancel{
    position: absolute;
    top: 4vw;
    right:  5vw;
    z-index: 40;
    width: 20px;
    height: 20px;
    /* background: url(img/svg/x.svg) 50% 50% no-repeat; 
    background-size: cover; */

    background: url(img/svg/x.svg)no-repeat; 
    background-size: cover;

}

main{
    position: relative;
    /* height: 1230px;
    width: 1920px; */
    height: 80vh;
    width: 100vw;
    background: url(img/svg/bgMain.svg) bottom left repeat-x; 
    background-size: contain;
    /* background-clip: content-box; */
    /* background-color: red; */
}
.woodDesk{
    position: absolute;
    top: 0;
    left: 0;

    width: 25vw;
    height: auto;
}

.siteHead{
    margin:0;
    position: absolute;
    top: 4vw;
    left: 4vw;
    font-family: 'Sanek';
    font-size: 500%;
    text-transform: uppercase;
}


.news{
    position: absolute;
    bottom: 12vw;
    left: 5vw;
    font-family: 'Bebas', sans-serif;
    z-index: 110;
    font-size: 600%;
}
.news .stone{  
    /* font-family: 'Bebas', sans-serif;
    z-index: 11;
    font-size: 600%;
    position: absolute; */
    height: auto;
    width: 16vw;

}
.news .stoneTitle{
    margin: 0;
    position: absolute;
    top: 3vw;
    left: 3vw;
    cursor: pointer;
}
/* .stone p{
    font-family: 'Bebas', sans-serif;
    z-index: 11;
    font-size: 600%;
 } */
.stoneTitle:hover{
    color: #F8CC08;
    text-shadow: black 0 0 4px;
 }

/* .news object{
    height: auto;
    width: 16vw;
} */

/* .news{
    position: absolute;
    bottom: 12vw;
    left: 5vw;
} */
/* .news p{
    position: absolute;
    /* top: -10px; */
    left: 30px;
    font-size: 55px;
    cursor: default;
} */
.aboutUs{
    /* position: absolute; */
    top: 800px;
    left: 390px;
}
.aboutUs p{
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 13;
    cursor: default;
}
.contacts{
    /* position: absolute; */
    top: 760px;
    left: 640px;

}
.contacts p{
     position: absolute;
     top: 35px;
     left: 25px;
     font-size: 40px;
     cursor: default;
 
 }
.help{
    /* position: absolute; */
    top: 880px;
    left: 825px;
}
.help p{
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 30px;
    font-weight: bold;
    display: block;
    cursor: default;
}

ul li{
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    font-size: 41px;
    line-height: 41px;
    display: block;
 }
 ul li:hover{
    color: #F8CC08;
    text-shadow: black 0 0 4px;
 }
.mine{
    position: absolute;
    top: 256px;
    left: 815px;
}

.signUp{
    position: absolute;
    top: 25px;
    left: 430px;
    z-index: 15;
    font-family: 'Sanek';
    font-size: 85px;
    text-transform: uppercase;
}
.username{
    position: absolute;
    top: 125px;
    left: 400px;
    z-index: 15;
    font-family: 'Sanek';
    font-size: 85px;
    text-transform: uppercase;
}

.statsPlate{
    position: absolute;
    top: 700px;
    right: 50px;
    z-index: 10;
}

.signUp:hover,
.signIn:hover {
    color: #F8CC08;
    text-shadow: black 0 0 4px;
}

.loginForm{
    position: absolute;
    bottom: 300px;
    left: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.loginForm input:not([type="checkbox"]):not([type="submit"]){
    font-size: 22px;
    text-align: center;
    width: 140px; 
    margin-bottom: 10px;
    background-color: #F8CC08;
    border: 3px solid #ffffff;
    border-radius: 5px;
    outline: none;

}
.loginForm label, 
.loginForm p{
    font-size: 13px;
    color: #ffffff;
    font-family: 'Bebas', sans-serif;
    /* text-align: center; */
    /* width: 140px;  */
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-right: 4px;
    background-color: #F8CC08;
}

.custom-checkbox:checked+label::before {
    background-image: url("img/svg/x.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.signIn{
    position: absolute;
    top: -125px;
    left: 20px;
    z-index: 15;
    font-family: 'Sanek';
    font-size: 85px;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0);
    outline: none; 
    border: none;
}


.stats{
    position: absolute;
    z-index: 15;
    top:25px;
    left:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats p{
    margin: 0;
    padding: 0;
    font-family: 'Bebas',sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}
.stats b{
    margin: 0;
    padding: 0;
    font-family: 'Bebas',sans-serif;
    font-size: 35px;
    text-transform: uppercase;

}




footer{
    background: url(img/svg/bgFooter.svg) repeat-x; 
    /* background-size: 100%; */
    background-size: contain;
    /* background-clip: content-box; */
    position: relative;
    z-index: 100;
    /* height: 290px;
    width: 1920px; */
    height: 20vh;
    width: 100vw;
    bottom: 2%;
    /* left:0; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerUP{
    background: url(img/svg/bgFooterUP.svg) 50% 50% no-repeat; 
}

.footerNav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.footerMenuSocialLang{
    /* width: 100%; */
    flex-grow: 0.10;
    /* height: 35%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerMenuSocialLang ul{
    /* margin: 0; */
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.footerSocialLang{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-right: 50px;
}

.vk{
    width: 31px;
    height: 31px;
    padding-right: 10px;
}
.instagram{
    width: 31px;
    height: 31px;
    padding-right: 10px;
}
.telegram{
    width: 31px;
    height: 31px;
}
.lang{
    width: 80px;
    height: 30px;
    background: rgba(255,255,255,0.5) 50% 50% no-repeat;
}
.rus{
    width: 28px;
    height: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 5px;
}
.eng{
    width: 28px;
    height: 20px;
    padding-top: 5px;
}
