@font-face {
    font-family: "Sanek";
    src: url("fonts/sanekRegular/Sanek-Regular_Cyrillic.otf") format("openType");
   }
@font-face {
    font-family: "Bebas";
    src: url("fonts/bebasNeue/BebasNeue-Regular.otf") format("openType");
   }
body{
    margin: 0;
    padding: 0;
    height: 1440px;
    width: 1920px;
}
main{
    position: relative;
    height: 1230px;
    width: 1920px;
    background: url(img/svg/bgMain.svg) 50% 50% no-repeat; 
    background-size: cover;
    /* background-color: red; */
}
.siteHead{
    position: absolute;
    top: 30px;
    left: 100px;
    font-family: 'Sanek';
    font-size: 80px;
    text-transform: uppercase;
}
.stone{
    z-index: 10;
 }
.stone p{
    font-family: 'Bebas', sans-serif;
    z-index: 11;
    font-size: 55px;
    font-weight: normal;
 }
.stone p:hover{
    color: #F8CC08;
    text-shadow: black 0 0 4px;
 }
ul li{
    font-family: 'Bebas', sans-serif;
    font-weight: bold;
    font-size: 41px;
    line-height: 41px;
    display: block;
 }
 ul li:hover{
    color: #F8CC08;
    text-shadow: black 0 0 4px;
 }
.woodDesk{
    position: absolute;
    top: 0;
    left: 0;
}
.aboutUs{
    position: absolute;
    top: 800px;
    left: 390px;
}
.aboutUs p{
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 13;
}
.news{
    position: absolute;
    top: 733px;
    left: 100px;
}
.news p{
    position: absolute;
    top: -10px;
    left: 30px;
    font-size: 55px;
}
.contacts{
    position: absolute;
    top: 760px;
    left: 640px;
    
}
.contacts p{
    position: absolute;
    top: 35px;
    left: 25px;
    font-size: 40px;

}
.help{
    position: absolute;
    top: 880px;
    left: 825px;
}
.help p{
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 30px;
    font-weight: bold;
}
.mine{
    position: absolute;
    top: 256px;
    left: 815px;
}

/* .woodTab{
    position: absolute;
    top: 210px;
    left: 430px;
    z-index: 15;
} */
.signUp{
    position: absolute;
    top: 25px;
    left: 430px;
    z-index: 15;
    font-family: 'Sanek';
    font-size: 85px;
    text-transform: uppercase;
}
.username{
    position: absolute;
    top: 125px;
    left: 400px;
    z-index: 15;
    font-family: 'Sanek';
    font-size: 85px;
    text-transform: uppercase;
}

.statsPlate{
    position: absolute;
    top: 700px;
    right: 50px;
    z-index: 10;
}

.signUp:hover,
.signIn:hover {
    color: #F8CC08;
    text-shadow: black 0 0 4px;
}

.loginForm{
    position: absolute;
    bottom: 300px;
    left: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.loginForm input:not([type="checkbox"]):not([type="submit"]){
    font-size: 22px;
    text-align: center;
    width: 140px; 
    margin-bottom: 10px;
    background-color: #F8CC08;
    border: 3px solid #ffffff;
    border-radius: 5px;
    outline: none;

}
.loginForm label, 
.loginForm p{
    font-size: 13px;
    color: #ffffff;
    font-family: 'Bebas', sans-serif;
    /* text-align: center; */
    /* width: 140px;  */
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-right: 4px;
    background-color: #F8CC08;
}

.custom-checkbox:checked+label::before {
    background-image: url("img/svg/x.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.signIn{
    position: absolute;
    top: -125px;
    left: 20px;
    z-index: 15;
    font-family: 'Sanek';
    font-size: 85px;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0);
    outline: none; 
    border: none;
}


.stats{
    position: absolute;
    z-index: 15;
    top:25px;
    left:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats p{
    margin: 0;
    padding: 0;
    font-family: 'Bebas',sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}
.stats b{
    margin: 0;
    padding: 0;
    font-family: 'Bebas',sans-serif;
    font-size: 35px;
    text-transform: uppercase;

}




footer{
    background: url(img/svg/bgFooter.svg) 50% 50% no-repeat; 
    background-size: cover;
    position: relative;
    z-index: 0;
    height: 290px;
    width: 1920px;
    bottom: 30px;
    left:0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerNav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footerMenuSocialLang{
    /* width: 100%; */
    flex-grow: 0.10;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerMenuSocialLang ul{
    /* margin: 0; */
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.footerSocialLang{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-right: 50px;
}

.vk{
    width: 31px;
    height: 31px;
    padding-right: 10px;
}
.instagram{
    width: 31px;
    height: 31px;
    padding-right: 10px;
}
.telegram{
    width: 31px;
    height: 31px;
}
.lang{
    width: 80px;
    height: 30px;
    background: rgba(255,255,255,0.5) 50% 50% no-repeat;
}
.rus{
    width: 28px;
    height: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 5px;
}
.eng{
    width: 28px;
    height: 20px;
    padding-top: 5px;
}
