.columns{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 30;
    
    .column{
        position: relative;
        z-index: 10;
        
        .woodColumn{
            width: 14vw;
            height: auto;
        }
    }

    .woodDeskContainer{
        position: absolute;
        bottom: 14vw;
        right: -1.1vw;
        z-index: 50;
        
        .woodDesk{
            width: 17vw;
            height: auto;
        }

        .goldMining,
        .goldExport,
        .goldCosts{
            position: absolute;
            width: 10vw;
            text-align: center;
            bottom: 1vw;
            left: 3.7vw;
            text-transform: uppercase;
            font-size: 300%;
            // z-index: 50;
            .firstLine{
                margin:0;
                padding: 0;
                line-height: 1.5vw;
                font-weight: normal;
                font-family: "Bebas";
                color: #400800;
            }
            .secondLine{
                margin:0.5vw 0;
                padding: 0.5vw 0;
                border-top: 2px solid #250C03;
                border-bottom: 2px solid #250C03;
                line-height: 2.4vw;
                font-weight: bold;
                font-family: "Bebas";
                color: #400800;
            }
            .thirdLine{
                margin:0;
                padding: 0;
                line-height: 2.1vw;;
                font-weight: normal;
                font-family: "Bebas";
                color: #400800;
            }
        }

        
        .goldMining{
            position: absolute;
            top: 3vw;
            left: 3.5vw;
            text-align: center;
            text-transform: uppercase;
            z-index: 50;
            
            .title{
                width: 10vw;
                text-align: center;
                font-size: 100%;
                color: #400800;
            }
            
            .inputTitle{
                font-family: "Bebas";
                width: 10vw;
                text-align: center;
                font-size: 80%;
                color: #400800;
                font-weight: normal;
                margin:0;
                padding:0;
            }
            .inputRow{
                width: 10vw;
                height: auto;
                vertical-align: middle;
                
                background-color: #F8CC08;
                border: 2px solid #fff;
                border-radius: 5px;
                outline: none;
                
                font-family: "Bebas";
                font-weight: bold;
                font-size: 90%;
                color: #400800;
                /* line-height: 1vw; */
                text-align: right;
                
            }
            
            .myMineSubmit{
                margin-top: 1vw;
                padding: 0.5vw;
                border: none;
                border-top: 2px solid #400800;
                border-bottom: 2px solid #400800;
                outline: none;
                
                background-color: rgba(255, 255, 255, 0.0);
                font-family: "Bebas";
                font-weight: bold;
                font-size: 100%;
                color: #400800;
                line-height: 2vw;
                
                width: 8vw;
                height:auto;
                position: absolute;
                bottom: 2vw;
                left: 1vw;
            }
            
            .infoContainer{
                margin-top: 1vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: "Bebas";
                font-weight: normal;
                text-transform: uppercase;
                font-size: 65%;
                
                .infoTitle{
                    
                }
                
                .infoContent{
                    font-weight: bold;
                    font-size: 110%;
                }
            }
            
        }
    }

    .myGold{
        bottom:6vw;
        right: -1.2vw;
    }




    .bigBanner{
        bottom: 5.5vw;
        left: 5vw;
        z-index: 50;
        
        .woodDesk{
            z-index: 50;
            width: 60vw;
            height: auto;
        }
    
        .accountingContainer{
            font-size: 100%;

            .allOperation{
                background: url("../img/svg/tableHeadBg.svg") 50% 50% no-repeat;
                background-size: cover;
                
                font-family: "Bebas";
                font-weight: bold;
                text-transform: uppercase;
                font-size: 340%;
                color: #400800;
              
                width: 12vw;
                height: auto;
              
                border: none;
                outline: none;
              
                position: absolute;
                top: 2vw;
                right: 10.5vw;
              
                z-index:100;
            }
            .tableStats{
                position: absolute;
                top: 2vw;
                left: 0;
                font-family: "Bebas";
                font-weight: normal;
                text-transform: uppercase;
                font-size: 340%;
                color: #400800;
                
                width: 60vw;
                height: auto;
                text-align: center;
                .captionFirsLine{
                    position:relative;
                    font-weight: bold;
                }
                
                .captionSecondLine{
                    font-size: 70%;
                }
                .tableData{
                    background: url("../img/svg/tableHeadBg.svg") 50% 50% no-repeat;
                    background-size: contain;;
                }
            }
            
        }

        .refContainer{
            position: absolute;
            top:2vw;
            left: 0vw;
            width: 90%;
            height: 80%;
          
            font-size: 120%;
          
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        
            .refTitle{
                font-family: "Bebas";
                font-weight: bold;
                text-transform: uppercase;
                font-size: 340%;
                color: #400800;
            
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            
                
                .refFirstLine{
                    
                }
                .refSeconLine{
                    font-weight: normal;
                    font-size: 60%;
                }
            }
            .refActitives{
                width:80%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            
            
                .refLink{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    .refLinkInput{
                        width:10vw;
                        font-family: "Bebas";
                        font-weight: normal;
                        text-transform: uppercase;
                        font-size: 140%;
                        color: #400800;
                        background-color: #F8CC08;
                        border: 3px solid #fff;
                        border-radius: 3px;
                        outline: none;
                        line-height: 200%;
                    
                    }
                }
                .refID{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    .refIDInput{
                        width: 7vw;
                        font-family: "Bebas";
                        font-weight: normal;
                        text-transform: uppercase;
                        font-size: 140%;
                        color: #400800;
                        background-color: #F8CC08;
                        border: 3px solid #fff;
                        border-radius: 3px;
                        outline: none;
                        line-height: 200%;
                    }
                }
            
                .refLabel{
                    font-family: "Bebas";
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 200%;
                    color: #400800; 
                }
                        
                .refBanner{
                    width: 15vw;
                    font-family: "Bebas";
                    font-weight: normal;
                    text-transform: uppercase;
                    font-size: 140%;
                    color: #400800;
                    background-color: rgba(255,255,255,0);
                    border: 3px solid #400800;
                    border-left: none;
                    border-right: none;
                    outline: none;
                    
                    
                    .refBannerText{
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 3vw;
                        
                        &::after{
                            content: ' ';
                            display: inline-block;
                            background: url("../img/svg/iconImg.svg") 50% 50% no-repeat;
                            background-size: contain;
                            width: 2vw;
                            height: 2vw;
                            vertical-align: middle;
                            margin-left: 0.5vw;
                        }
                    }
                }
            } 
            .refBtn{
                width: 12vw;
                font-family: "Bebas";
                font-weight: bold;
                text-transform: uppercase;
                font-size: 200%;
                color: #400800;
                background-color: rgba(255,255,255,0);
                border: 3px solid #400800;
                outline: none;
            }
            
            .refBanner:hover,
            .refBtn:hover{
                color: #F8CC08;
                text-shadow: black 0 0 4px;
            }
        }

        .optionsContainer{
            position: absolute;
            top:2vw;
            left: 0vw;
            width: 90%;
            height: 50%;
          
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            .optionTitle{
                font-family: "Bebas";
                font-weight: bold;
                text-transform: uppercase;
                font-size: 340%;
                color: #400800;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .userDataInput{
                width: 8vw;
                font-family: "Bebas";
                font-weight: normal;
                text-transform: uppercase;
                font-size: 140%;
                color: #400800;
                background-color: #F8CC08;
                border: 3px solid #fff;
                border-radius: 3px;
                outline: none;
                margin-bottom: 0.5vw;
                line-height: 200%;
            }
            .userDataTitle{
                align-self: center;
                font-family: "Bebas";
                font-weight: bold;
                text-transform: uppercase;
                font-size: 200%;
                color: #400800;
            }
            .optionsActives{
                width:80%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
                .userData,
                .userPassword,
                .userPay,
                .userSocial{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    height: 100%;
                }
                .imgPayeer{
                    width: 10vw;
                    height: auto;
                }
                .userData{
                    .optionsLabel{
                        font-family: 'Bebas';
                        font-size: 150%;
                    }
                }
                .userPassword{
                    .userDataInput{
                        text-align: center;
                    }
                    .saveChange{
                        width: 15vw;
                        font-family: "Bebas";
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 250%;
                        color: #400800;
                        background-color: rgba(255,255,255,0);
                        border: 3px solid #400800;
                        border-left: none;
                        border-right: none;
                        outline: none;

                        
                        position: absolute;
                        top: 18.5vw;
                        right: 22vw;
                    }
                }
                .userPay{
                    justify-content: flex-start;
                    align-items: center;  
                    
                    .userDataForm{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .savePayInfo{
                        width: 7vw;
                        font-family: "Bebas";
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 250%;
                        color: #400800;
                        background-color: rgba(255,255,255,0);
                        border: 3px solid #400800;
                        border-left: none;
                        border-right: none;
                        outline: none;
                    }
                    
                }
                .userSocial{
                    height: 50%;
                    width: 12vw;

                    .userSocialContainer{
                        display: flex;
                        flex-direction: row;
                        margin-top: 0.5vw;
                    }

                    .userSocialTelegramText,
                    .userSocialVkText,
                    .userSocialInstagramText,
                    .googleAuthText{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "Bebas";
                        font-weight: normal;
                        text-transform: uppercase;
                        font-size: 200%;
                        color: #400800;
                        height: 2vw; 
                    }
                    .userSocialTelegramImg,
                    .userSocialVkImg,
                    .userSocialInstagramImg,
                    .googleAuthImg{
                        margin-right: 0.5vw;
                        vertical-align: middle;
                        width: 2vw;
                        height: 2vw;
                    }

                    
                }
            }
        }
    }
    
    
    
    
    





}