
@media (min-width: 370px) {
    body{
        font-size: 2px;
    }
    .refContainer{
      font-size: 106%;
    }
    .accountingContainer{
      font-size: 95%;
    }
     .refBtn{
       font-size: 200%;
     }
     .saveChange{
       font-size: 200%;
       top: 18vw;
     }
     .savePayInfo{
      font-size: 200%;
     }
     .columns .bigBanner .optionsContainer .optionsActives .userPassword .saveChange,
     .columns .bigBanner .optionsContainer .optionsActives .userPay .savePayInfo,
     .columns .bigBanner .refContainer .refActitives .refBanner,
     .columns .bigBanner .refContainer .refBtn,
     .columns .bigBanner .optionsContainer .userDataInput,
     .columns .bigBanner .refContainer .refActitives .refID .refIDInput,
     .columns .bigBanner .refContainer .refActitives .refLink .refLinkInput{
       border-width: 2px;
  }
}
@media (min-width: 490px) {
    body{
        font-size: 3px;
    }
    .refContainer{
      font-size: 106%;
    }
    .accountingContainer{
      font-size: 95%;
    }
     .refBtn{
       font-size: 200%;
     }
     .saveChange{
       font-size: 200%;
       top: 18vw;
     }
     .savePayInfo{
      font-size: 200%;
     }
}
  @media (min-width: 620px) {
    body{
        font-size: 4px;
    }
  }
  @media (min-width: 768px) {
    body{
        font-size: 5px;
    }
  }
  @media (min-width: 900px) {
    body{
        font-size: 6px;
    }
  }
  @media (min-width: 1024px) {
    body{
        font-size: 7px;
    }
    .columns .bigBanner .optionsContainer .optionsActives .userPassword .saveChange,
    .columns .bigBanner .optionsContainer .optionsActives .userPay .savePayInfo,
    .columns .bigBanner .refContainer .refActitives .refBanner,
    .columns .bigBanner .refContainer .refBtn,
    .columns .bigBanner .optionsContainer .userDataInput,
    .columns .bigBanner .refContainer .refActitives .refID .refIDInput,
    .columns .bigBanner .refContainer .refActitives .refLink .refLinkInput{
      border-width: 3px;
    }
  } 
    @media (min-width: 1170px) {
    body{
        font-size: 8px;
    }
  }
  @media (min-width: 1300px) {
    body{
        font-size: 9px;
    }
  }
  @media (min-width: 1440px) {
    body{
        font-size: 10px;
    }
  }
  @media (min-width: 1580px) {
    body{
        font-size: 11px;
    }
  }
  @media (min-width: 1675px) {
    body{
        font-size: 12px;
    }
  }
  @media (min-width: 1810px) {
    body{
        font-size: 13px;
    }
  }
  @media (min-width: 1980px) {
    body{
        font-size: 14px;
    }
  }
  @media (min-width: 2100px) {
    body{
        font-size: 15px;
    }
  }
  @media (min-width: 2225px) {
    body{
        font-size: 16px;
    }
    .refContainer{
      font-size: 109%;
    }
    .accountingContainer{
      font-size: 100%;
    }
     } 
  @media (min-width: 2300px) {
    body{
        font-size: 17px;
    }
    .refContainer{
      font-size: 120%;
    }
    .accountingContainer{
      font-size: 100%;
    }
  }